<h1>All beliefs you don't hold</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
  </tr>

<% @beliefs.each do |belief| %>
  <tr>
    <td><%= belief.title %></td>
    <td><%= belief.description %></td>
    <td><%= link_to 'Add', belief, :method => :add %></td
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Belief', new_belief_path %>
